# 메타 데이터를 결합한 csv 파일 만들기

## 00. 기본 설정

In [1]:
import pandas as pd
import numpy as np

## 01. 파일 불러오기

In [2]:
# 전처리 완료 데이터
df = pd.read_csv("..\data\data_prep_final.csv", encoding='utf8')
print(df.shape)      # (67857, 42)
df.head()

(67857, 42)

,YM,MCT_NM,OP_YMD,TYPE,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,희야네식당,20000916,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.000000,0.000000,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,202301,희신이네,20060515,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.264706,0.000000,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,202301,흥미,20030814,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.094340,0.000000,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032
3,202301,흑심가,20220401,T1,가정식,6.538710,7.964516,7.733871,6.761935,6.317838,...,0.733333,0.033333,0.123656,0.544,0.456,0.239,0.300,0.233,0.139,0.089
4,202301,흑섬,20160419,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.806452,0.000000,0.317136,0.585,0.415,0.175,0.278,0.283,0.206,0.059

In [3]:
# 메타데이터
df_meta = pd.read_csv("..\data\meta_V2.csv", encoding="utf8")
print(df_meta.shape)  # (39, 5)
df_meta

(39, 5)

,No,컬럼ID,컬럼명,타입,설명
0,1,YM,기준연월,STRING,기준연월
1,2,MCT_NM,가맹점명,STRING,가맹점명
2,3,OP_YMD,가맹점 개설일자,STRING,가맹점 개설일자
3,4,TYPE,업종 라벨링,OBJECT,업종 - 명목형 변수로 라벨링
4,5,MCT_TYPE,업종,STRING,업종 - 텍스트 자료형
5,6,temp_05_11,5시 11시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
6,7,temp_12_13,12시 13시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
7,8,temp_14_17,14시 17시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
8,9,temp_18_22,18시 22시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
9,10,temp_23_04,23시 4시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
10,11,TEMP_AVG,월 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
11,12,latitude,위도,FLOAT,Google Map API 활용하여 변환
12,13,longitude,경도,FLOAT,Google Map API 활용하여 변환
13,14,Polygon,지역 라벨링,OBJECT,지역 - 명목형 변수로 라벨링
14,15,area,지역,STRING,지역 - 텍스트 자료형
15,16,ADDR,주소,STRING,가맹점 주소
16,17,RANK_CNT,월별 업종별 이용건수 순위,INT,"월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용건수..."
17,18,RANK_AMT,월별 업종별 이용금액 순위,INT,"월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용건수..."
18,19,RANK_MEAN,건당 평균 이용금액 순위,INT,"월별 업종별 건당 평균 이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점..."
19,20,MON_UE_CNT_RAT,월요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
20,21,TUE_UE_CNT_RAT,화요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
21,22,WED_UE_CNT_RAT,수요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
22,23,THU_UE_CNT_RAT,목요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
23,24,FRI_UE_CNT_RAT,금요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
24,25,SAT_UE_CNT_RAT,토요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
25,26,SUN_UE_CNT_RAT,일요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
26,27,HR_5_11_UE_CNT_RAT,5시 11시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
27,28,HR_12_13_UE_CNT_RAT,12시 13시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
28,29,HR_14_17_UE_CNT_RAT,14시 17시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
29,30,HR_18_22_UE_CNT_RAT,18시 22시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
30,31,HR_23_4_UE_CNT_RAT,23시 4시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
31,32,LOCAL_UE_CNT_RAT,현지인 이용 건수 비중,FLOAT,고객 자택 주소가 제주도인 경우를 현지인으로 정의
32,33,RC_M12_MAL_CUS_CNT_RAT,최근 12개월 남성 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
33,34,RC_M12_FME_CUS_CNT_RAT,최근 12개월 여성 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
34,35,RC_M12_AGE_UND_20_CUS_CNT_RAT,최근 12개월 20대 이하 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
35,36,RC_M12_AGE_30_CUS_CNT_RAT,최근 12개월 30대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
36,37,RC_M12_AGE_40_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
37,38,RC_M12_AGE_50_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
38,39,RC_M12_AGE_OVR_60_CUS_CNT_RAT,최근 12개월 60대 이상 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값

<hr>

## 01. 전처리 완료 데이터 컬럼 수정 
- 전처리 완료 데이터의 shape(67857, 42)과 메타 데이터의 shape(39, 5)이 맞지 않음
- -> `UE_CNT_GRP`(이용건수구간), `UE_AMT_GRP`(이용금액구간), `UE_AMT_PER_TRSN_GRP`(건당평균이용금액구간) 이 세 개의 칼럼이 meta data에 없는 것을 확인
- -> `RANK_CNT`, `RANK_AMT`, `RANK_MEAN` 칼럼으로 대체했으므로 위 세 개의 행 삭제

<br>

- `YM`에서 월 데이터로 변경
- `개설일자`와 `polygon`, `TYPE`, `위/경도` 칼럼 삭제

In [4]:
col_to_drop = ['UE_CNT_GRP', 'UE_AMT_GRP', 'UE_AMT_PER_TRSN_GRP', 'OP_YMD', 'Polygon', 'TYPE', 'latitude', 'longitude']
df_col_34 = df.drop(columns=col_to_drop)
df_col_34.shape         # (67857, 34)

(67857, 34)

In [5]:
# YM에서 -월로 수정
def convert_ym_to_month(ym):
    month_mapping = {
        '202301': '1월', '202302': '2월', '202303': '3월', '202304': '4월',
        '202305': '5월', '202306': '6월', '202307': '7월', '202308': '8월',
        '202309': '9월', '202310': '10월', '202311': '11월', '202312': '12월'
    }
    return month_mapping.get(str(ym), ym)  # 매핑되지 않는 값은 그대로 반환

df_col_34['YM'] = df_col_34['YM'].apply(convert_ym_to_month)

df_col_34.head(3)

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,1월,희야네식당,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,7.851544,남부,...,0.000000,0.0,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,1월,희신이네,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,7.851544,남부,...,0.264706,0.0,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,1월,흥미,가정식,6.233641,8.633871,8.46129,6.666452,5.849189,7.168889,북부,...,0.094340,0.0,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032

<hr>

## 02. 메타 데이터 수정 
- 전처리 완료 데이터의 shape(67857, 42)과 메타 데이터의 shape(39, 5)이 맞지 않음
- -> `UE_CNT_GRP`(이용건수구간), `UE_AMT_GRP`(이용금액구간), `UE_AMT_PER_TRSN_GRP`(건당평균이용금액구간) 이 세 개의 칼럼이 meta data에 없는 것을 확인

- `YM`, `MCT_TYPE`, `RANK_CNT`, `RANK_AMT`, `RANK_MEAN`, `Polygon`, `area`에 대한 칼럼 설명이 부족하다고 판단
- -> 아래 정보를 더 추가할 것임
  - 1	YM	기준연월	202301~202312 >> 월로 변경
  - 4	MCT_TYPE	업종	요식관련 30개 업종
  - 6	RANK_CNT	이용건수구간	월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용건수가 포함되는 분위수 구간 * 1-상위10%이하 2-상위10~25% 3-상위25~50% 4-상위50~75% 5-상위75~90% 6-상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임
  - 7	RANK_AMT	이용금액구간	월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용금액이 포함되는 분위수 구간 * 1-상위10%이하 2-상위10~25% 3-상위25~50% 4-상위50~75% 5-상위75~90% 6-상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임
  - 8	RANK_MEAN	건당평균이용금액구간	STRING	N	월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 건당평균이용금액이 포함되는 분위수 구간 * 1-상위10%이하 2-상위10~25% 3-상위25~50% 4-상위50~75% 5-상위75~90% 6-상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임
  - 15	area	지역	지역-텍스트 자료형(10개로 구분: 동부 서부 남부 북부 산지 가파도 마라도 비양도 우도 추자도)

<br>

- 전처리 완료 데이터와 칼럼 수를 맞추기 위해 `['OP_YMD', 'Polygon', 'TYPE', 위/경도]` 삭제

In [6]:
row_to_drop = ['OP_YMD', 'Polygon', 'TYPE', 'latitude', 'longitude']
df_meta_drop = df_meta[~df_meta['컬럼ID'].isin(row_to_drop)]
df_meta_drop.shape         # (34, 5)

(34, 5)

In [7]:
df_col_34['area'].value_counts()

area
북부     38617
남부     13044
서부      9307
동부      6289
우도       444
마라도       54
추자도       39
가파도       32
비양도       20
산지        11
Name: count, dtype: int64

In [8]:
# 변경할 [설명] 값을 변수에 저장
metadata_explanation = {
    'YM': '2023년 1월~12월',
    'MCT_TYPE': '요식관련 30개 업종으로 구분',
    'RANK_CNT': '월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용건수가 포함되는 분위수 구간 * 1:상위10%이하 2:상위10~25% 3:상위25~50% 4:상위50~75% 5:상위75~90% 6:상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임',
    'RANK_AMT': '월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용금액이 포함되는 분위수 구간 * 1:상위10%이하 2:상위10~25% 3:상위25~50% 4:상위50~75% 5:상위75~90% 6:상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임',
    'RANK_MEAN': '월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 건당평균이용금액이 포함되는 분위수 구간 * 1:상위10%이하 2:상위10~25% 3:상위25~50% 4:상위50~75% 5:상위75~90% 6:상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임',
    'area': '제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/우도/추자도'
}

In [9]:
# df_meta에 설명 업데이트
df_meta_drop.loc[:, '설명'] = (
    df_meta_drop['컬럼ID'].map(metadata_explanation).fillna(df_meta_drop['설명'])
)
df_meta_drop

,No,컬럼ID,컬럼명,타입,설명
0,1,YM,기준연월,STRING,2023년 1월~12월
1,2,MCT_NM,가맹점명,STRING,가맹점명
4,5,MCT_TYPE,업종,STRING,요식관련 30개 업종으로 구분
5,6,temp_05_11,5시 11시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
6,7,temp_12_13,12시 13시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
7,8,temp_14_17,14시 17시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
8,9,temp_18_22,18시 22시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
9,10,temp_23_04,23시 4시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
10,11,TEMP_AVG,월 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
14,15,area,지역,STRING,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...
15,16,ADDR,주소,STRING,가맹점 주소
16,17,RANK_CNT,월별 업종별 이용건수 순위,INT,월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용건수가...
17,18,RANK_AMT,월별 업종별 이용금액 순위,INT,월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용금액이...
18,19,RANK_MEAN,건당 평균 이용금액 순위,INT,월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 건...
19,20,MON_UE_CNT_RAT,월요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
20,21,TUE_UE_CNT_RAT,화요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
21,22,WED_UE_CNT_RAT,수요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
22,23,THU_UE_CNT_RAT,목요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
23,24,FRI_UE_CNT_RAT,금요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
24,25,SAT_UE_CNT_RAT,토요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
25,26,SUN_UE_CNT_RAT,일요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
26,27,HR_5_11_UE_CNT_RAT,5시 11시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
27,28,HR_12_13_UE_CNT_RAT,12시 13시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
28,29,HR_14_17_UE_CNT_RAT,14시 17시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
29,30,HR_18_22_UE_CNT_RAT,18시 22시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
30,31,HR_23_4_UE_CNT_RAT,23시 4시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
31,32,LOCAL_UE_CNT_RAT,현지인 이용 건수 비중,FLOAT,고객 자택 주소가 제주도인 경우를 현지인으로 정의
32,33,RC_M12_MAL_CUS_CNT_RAT,최근 12개월 남성 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
33,34,RC_M12_FME_CUS_CNT_RAT,최근 12개월 여성 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
34,35,RC_M12_AGE_UND_20_CUS_CNT_RAT,최근 12개월 20대 이하 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
35,36,RC_M12_AGE_30_CUS_CNT_RAT,최근 12개월 30대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
36,37,RC_M12_AGE_40_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
37,38,RC_M12_AGE_50_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
38,39,RC_M12_AGE_OVR_60_CUS_CNT_RAT,최근 12개월 60대 이상 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값

In [24]:
# ['No', '타입'] 칼럼 삭제
df_meta_34 = df_meta_drop.drop(columns=['No', '타입'])
df_meta_34.head()

         컬럼ID            컬럼명                   설명
0          YM           기준연월         2023년 1월~12월
1      MCT_NM           가맹점명                 가맹점명
4    MCT_TYPE             업종     요식관련 30개 업종으로 구분
5  temp_05_11   5시 11시 평균 기온  기상청 데이터 활용하여 평균값 계산
6  temp_12_13  12시 13시 평균 기온  기상청 데이터 활용하여 평균값 계산

<hr>

## 03. 데이터셋 정렬

In [25]:
df_col_34_sorted = df_col_34.sort_values(by=['area', 'MCT_TYPE', 'YM'])
df_col_34_sorted

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
51261,10월,가파도용궁정식,가정식,21.706452,21.534677,19.741290,19.097849,19.574194,20.330892,가파도,...,0.083333,0.0,0.161473,0.535,0.465,0.050,0.168,0.198,0.383,0.201
12171,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.000000,0.0,0.071511,0.473,0.527,0.118,0.180,0.217,0.271,0.214
13339,3월,꼬닥꼬닥걸으멍,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.000000,0.0,0.057405,0.387,0.613,0.068,0.172,0.254,0.319,0.186
13479,3월,가파도용궁정식,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.031746,0.0,0.135725,0.467,0.533,0.075,0.155,0.225,0.327,0.218
17892,4월,꼬닥꼬닥걸으멍,가정식,16.941667,16.819167,15.181333,14.276667,15.133810,15.670529,가파도,...,0.000000,0.0,0.055281,0.388,0.612,0.065,0.158,0.256,0.324,0.197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44162,8월,추자바다숯불갈비,단품요리 전문,29.071186,28.674167,26.944000,26.096111,27.096154,27.576324,추자도,...,0.458333,0.0,0.724138,0.688,0.313,0.000,0.125,0.469,0.219,0.188
50159,9월,바다감성찜닭이야기,단품요리 전문,26.710000,26.533333,24.760000,24.071508,24.972857,25.409540,추자도,...,0.437500,0.0,0.275000,0.611,0.389,0.028,0.139,0.250,0.319,0.264
53321,10월,김밥옆구리,분식,21.953226,20.786290,18.422581,17.878495,19.183410,19.644800,추자도,...,0.074074,0.0,0.318966,0.728,0.272,0.056,0.112,0.291,0.299,0.243
24959,5월,김밥옆구리,분식,18.317742,18.221774,16.667097,15.982258,16.699539,17.177682,추자도,...,0.171429,0.0,0.354086,0.696,0.304,0.044,0.142,0.328,0.311,0.176
36137,7월,김밥옆구리,분식,25.961290,25.745528,24.863226,24.642473,24.869585,25.216421,추자도,...,0.188679,0.0,0.350000,0.692,0.308,0.052,0.135,0.318,0.298,0.197

<hr>

## 04. df_col_39와 df_meta 결합

In [26]:
# shape 다시 확인
print(df_col_34_sorted.shape)
print(df_meta_34.shape)

(67857, 34)
(34, 3)

In [27]:
# 필요한 메타데이터 행들 추출
meta_column_names = df_meta_34['컬럼명'].values
meta_column_descriptions = df_meta_34['설명'].values

# 메타데이터를 DataFrame으로 변환
df_meta_transposed = pd.DataFrame([meta_column_names, meta_column_descriptions],
                                  columns=df_col_34_sorted.columns)  # 맛집 데이터의 컬럼과 동일하게 맞춤
df_meta_transposed

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,기준연월,가맹점명,업종,5시 11시 평균 기온,12시 13시 평균 기온,14시 17시 평균 기온,18시 22시 평균 기온,23시 4시 평균 기온,월 평균 기온,지역,...,18시 22시 이용 건수 비중,23시 4시 이용 건수 비중,현지인 이용 건수 비중,최근 12개월 남성 회원수 비중,최근 12개월 여성 회원수 비중,최근 12개월 20대 이하 회원수 비중,최근 12개월 30대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 60대 이상 회원수 비중
1,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값

In [28]:
# 메타데이터를 맛집 데이터 위에 추가
df_combined = pd.concat([df_meta_transposed, df_col_34_sorted], ignore_index=True)
df_combined.head(10)

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,기준연월,가맹점명,업종,5시 11시 평균 기온,12시 13시 평균 기온,14시 17시 평균 기온,18시 22시 평균 기온,23시 4시 평균 기온,월 평균 기온,지역,...,18시 22시 이용 건수 비중,23시 4시 이용 건수 비중,현지인 이용 건수 비중,최근 12개월 남성 회원수 비중,최근 12개월 여성 회원수 비중,최근 12개월 20대 이하 회원수 비중,최근 12개월 30대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 60대 이상 회원수 비중
1,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값
2,10월,가파도용궁정식,가정식,21.706452,21.534677,19.74129,19.097849,19.574194,20.330892,가파도,...,0.083333,0.0,0.161473,0.535,0.465,0.05,0.168,0.198,0.383,0.201
3,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.071511,0.473,0.527,0.118,0.18,0.217,0.271,0.214
4,3월,꼬닥꼬닥걸으멍,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.057405,0.387,0.613,0.068,0.172,0.254,0.319,0.186
5,3월,가파도용궁정식,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.031746,0.0,0.135725,0.467,0.533,0.075,0.155,0.225,0.327,0.218
6,4월,꼬닥꼬닥걸으멍,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.055281,0.388,0.612,0.065,0.158,0.256,0.324,0.197
7,4월,전망대,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.07032,0.449,0.551,0.103,0.179,0.209,0.28,0.23
8,4월,가파도용궁정식,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.140351,0.0,0.14966,0.481,0.519,0.063,0.168,0.227,0.334,0.208
9,4월,가파도바다별장,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.079327,0.5,0.5,0.06,0.14,0.188,0.357,0.256

<hr>

## 05. 결합 완료 데이터셋 저장 + sample 데이터 만들기

In [29]:
df_combined.to_csv("../data/data_with_meta_ALL.csv", encoding='cp949', index=False)

In [30]:
# 데이터 확인
df_test = pd.read_csv('../data/data_with_meta_ALL.csv', encoding='cp949')
print(df_test.shape)
df_test.head(6)

(67859, 34)

C:\Users\USER\AppData\Local\Temp\ipykernel_20680\2696477810.py:2: DtypeWarning: Columns (3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('../data/data_with_meta_ALL.csv', encoding='cp949')

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,기준연월,가맹점명,업종,5시 11시 평균 기온,12시 13시 평균 기온,14시 17시 평균 기온,18시 22시 평균 기온,23시 4시 평균 기온,월 평균 기온,지역,...,18시 22시 이용 건수 비중,23시 4시 이용 건수 비중,현지인 이용 건수 비중,최근 12개월 남성 회원수 비중,최근 12개월 여성 회원수 비중,최근 12개월 20대 이하 회원수 비중,최근 12개월 30대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 60대 이상 회원수 비중
1,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값
2,10월,가파도용궁정식,가정식,21.70645161,21.53467742,19.74129032,19.09784946,19.57419355,20.33089247,가파도,...,0.08333333333,0.0,0.1614730878,0.535,0.465,0.05,0.168,0.198,0.383,0.201
3,3월,전망대,가정식,14.71612903,14.50403226,12.42322581,11.59139785,12.34193548,13.11534409,가파도,...,0.0,0.0,0.07151095732,0.473,0.527,0.118,0.18,0.217,0.271,0.214
4,3월,꼬닥꼬닥걸으멍,가정식,14.71612903,14.50403226,12.42322581,11.59139785,12.34193548,13.11534409,가파도,...,0.0,0.0,0.05740528129,0.387,0.613,0.068,0.172,0.254,0.319,0.186
5,3월,가파도용궁정식,가정식,14.71612903,14.50403226,12.42322581,11.59139785,12.34193548,13.11534409,가파도,...,0.03174603175,0.0,0.135725429,0.467,0.533,0.075,0.155,0.225,0.327,0.218

In [31]:
# df_col_34의 sample data 추출 (1000개)

# area와 MCT_TYPE 칼럼의 고유 값 추출
unique_areas = df_col_34_sorted['area'].unique()
unique_mct_types = df_col_34_sorted['MCT_TYPE'].unique()

# 고유 값 개수
num_areas = len(unique_areas)
num_mct_types = len(unique_mct_types)

# 최소 샘플 수 계산
min_samples_per_area = 1000 // num_areas
min_samples_per_mct_type = 1000 // num_mct_types

# 샘플링
samples = []

# 각 area에 대해 샘플 추출
for area in unique_areas:
    area_samples = df_col_34_sorted[df_col_34_sorted['area'] == area].sample(n=min_samples_per_area, replace=True)
    samples.append(area_samples)

# 각 MCT_TYPE에 대해 샘플 추출
for mct_type in unique_mct_types:
    mct_samples = df_col_34_sorted[df_col_34_sorted['MCT_TYPE'] == mct_type].sample(n=min_samples_per_mct_type, replace=True)
    samples.append(mct_samples)

# 모든 샘플 결합
final_samples = pd.concat(samples).drop_duplicates().sample(n=1000, replace=True)

# 결과 확인
print(final_samples.shape)  # (1000, 34) 형태 확인
final_samples

(1000, 34)

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
38136,7월,산마을가든,단품요리 전문,27.581106,29.903226,29.922581,28.156129,26.804301,28.473469,북부,...,0.000000,0.00000,0.730053,0.777,0.223,0.040,0.109,0.323,0.393,0.135
48539,9월,봉추반점,중식,27.195000,26.836667,25.716107,25.188333,25.831429,26.153507,우도,...,0.174603,0.00000,0.239051,0.548,0.452,0.129,0.314,0.298,0.181,0.078
9264,2월,풍원,가정식,11.389286,11.131250,9.992857,9.317857,9.833163,10.332883,우도,...,0.000000,0.00000,0.053650,0.503,0.497,0.346,0.292,0.177,0.142,0.043
37199,7월,카페봄봄영어교육도시점,커피,25.585714,26.988710,26.583871,25.608387,24.906989,25.934734,서부,...,0.000000,0.00000,0.556962,0.425,0.575,0.075,0.231,0.497,0.173,0.024
9082,2월,이디야제주삼화점,커피,7.150510,10.089286,9.873214,7.661429,6.314881,8.217864,북부,...,0.343915,0.00000,0.846549,0.413,0.587,0.154,0.331,0.328,0.151,0.036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19125,4월,월정리곳간,맥주/요리주점,14.750000,17.621667,17.375833,14.624000,13.176111,15.509522,동부,...,0.746269,0.19403,0.066320,0.427,0.573,0.438,0.405,0.097,0.053,0.007
39543,7월,한솥도시락제주한라병원점,도시락,27.581106,29.903226,29.922581,28.156129,26.804301,28.473469,북부,...,0.204545,0.00000,0.732475,0.636,0.364,0.186,0.275,0.288,0.198,0.053
21145,4월,미풍해장국 서귀포점,단품요리 전문,15.441429,17.798333,17.717500,15.611333,14.337778,16.181275,남부,...,0.000000,0.00000,0.229508,0.668,0.332,0.122,0.197,0.269,0.298,0.114
8626,2월,리치망고도두해안로점,주스,7.150510,10.089286,9.873214,7.661429,6.314881,8.217864,북부,...,0.101266,0.00000,0.092398,0.405,0.595,0.333,0.350,0.183,0.099,0.035
3538,1월,꼬까삐,포장마차,6.233641,8.633871,8.461290,6.666452,5.849189,7.168889,북부,...,0.680000,0.32000,0.922652,0.679,0.321,0.201,0.365,0.314,0.096,0.024

In [34]:
# final_samples도 정렬
final_samples = final_samples.sort_values(by=['area', 'MCT_TYPE', 'YM'])
final_samples.head()

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
12171,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.071511,0.473,0.527,0.118,0.180,0.217,0.271,0.214
18850,4월,전망대,가정식,16.941667,16.819167,15.181333,14.276667,15.133810,15.670529,가파도,...,0.0,0.0,0.070320,0.449,0.551,0.103,0.179,0.209,0.280,0.230
23054,5월,전망대,가정식,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.0,0.0,0.072522,0.439,0.561,0.094,0.164,0.211,0.280,0.251
24417,5월,꼬닥꼬닥걸으멍,가정식,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.0,0.0,0.056075,0.385,0.615,0.067,0.158,0.225,0.343,0.206
16923,3월,가파도핫도그,단품요리 전문,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.106707,0.401,0.599,0.141,0.263,0.244,0.253,0.099

In [35]:
# final_samples에 meta_data 추가
final_sampes_with_meta = pd.concat([df_meta_transposed, final_samples], ignore_index=True)
print(final_sampes_with_meta.shape)  # (1003, 34)
final_sampes_with_meta.head(10)

(1002, 34)

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,기준연월,가맹점명,업종,5시 11시 평균 기온,12시 13시 평균 기온,14시 17시 평균 기온,18시 22시 평균 기온,23시 4시 평균 기온,월 평균 기온,지역,...,18시 22시 이용 건수 비중,23시 4시 이용 건수 비중,현지인 이용 건수 비중,최근 12개월 남성 회원수 비중,최근 12개월 여성 회원수 비중,최근 12개월 20대 이하 회원수 비중,최근 12개월 30대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 40대 회원수 비중,최근 12개월 60대 이상 회원수 비중
1,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값
2,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.071511,0.473,0.527,0.118,0.18,0.217,0.271,0.214
3,4월,전망대,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.07032,0.449,0.551,0.103,0.179,0.209,0.28,0.23
4,5월,전망대,가정식,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.0,0.0,0.072522,0.439,0.561,0.094,0.164,0.211,0.28,0.251
5,5월,꼬닥꼬닥걸으멍,가정식,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.0,0.0,0.056075,0.385,0.615,0.067,0.158,0.225,0.343,0.206
6,3월,가파도핫도그,단품요리 전문,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.106707,0.401,0.599,0.141,0.263,0.244,0.253,0.099
7,4월,가파도봄날에,단품요리 전문,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.055901,0.382,0.618,0.057,0.217,0.172,0.299,0.255
8,5월,가파도핫도그,단품요리 전문,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.0,0.0,0.143045,0.413,0.587,0.144,0.263,0.217,0.294,0.083
9,10월,가파도해물짜장짬뽕,중식,21.706452,21.534677,19.74129,19.097849,19.574194,20.330892,가파도,...,0.0,0.0,0.101035,0.516,0.484,0.072,0.159,0.251,0.324,0.193

In [36]:
# 저장
final_sampes_with_meta.to_csv("../data/sample_1000_with_meta.csv", encoding='cp949', index=False)