# 메타 데이터를 결합한 csv 파일 만들기

## 00. 기본 설정

In [1]:
import pandas as pd
import numpy as np

## 01. 파일 불러오기

In [29]:
# 전처리 완료 데이터
df = pd.read_csv("..\data\data_prep_with_avg_temp_final.csv", encoding='utf8')
print(df.shape)      # (67857, 42)
df.head()

(67857, 42)

,YM,MCT_NM,OP_YMD,TYPE,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,희야네식당,20000916,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.000000,0.000000,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,202301,희신이네,20060515,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.264706,0.000000,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,202301,흥미,20030814,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.094340,0.000000,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032
3,202301,흑심가,20220401,T1,가정식,6.538710,7.964516,7.733871,6.761935,6.317838,...,0.733333,0.033333,0.123656,0.544,0.456,0.239,0.300,0.233,0.139,0.089
4,202301,흑섬,20160419,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.806452,0.000000,0.317136,0.585,0.415,0.175,0.278,0.283,0.206,0.059

In [30]:
# 메타데이터
df_meta = pd.read_csv("..\data\meta_V2.csv", encoding="utf8")
print(df_meta.shape)  # (39, 5)
df_meta

(39, 5)

,No,컬럼ID,컬럼명,타입,설명
0,1,YM,기준연월,STRING,기준연월
1,2,MCT_NM,가맹점명,STRING,가맹점명
2,3,OP_YMD,가맹점 개설일자,STRING,가맹점 개설일자
3,4,TYPE,업종 라벨링,OBJECT,업종 - 명목형 변수로 라벨링
4,5,MCT_TYPE,업종,STRING,업종 - 텍스트 자료형
5,6,temp_05_11,5시 11시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
6,7,temp_12_13,12시 13시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
7,8,temp_14_17,14시 17시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
8,9,temp_18_22,18시 22시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
9,10,temp_23_04,23시 4시 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
10,11,TEMP_AVG,월 평균 기온,FLOAT,기상청 데이터 활용하여 평균값 계산
11,12,latitude,위도,FLOAT,Google Map API 활용하여 변환
12,13,longitude,경도,FLOAT,Google Map API 활용하여 변환
13,14,Polygon,지역 라벨링,OBJECT,지역 - 명목형 변수로 라벨링
14,15,area,지역,STRING,지역 - 텍스트 자료형
15,16,ADDR,주소,STRING,가맹점 주소
16,17,RANK_CNT,월별 업종별 이용건수 순위,INT,"월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용건수..."
17,18,RANK_AMT,월별 업종별 이용금액 순위,INT,"월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용건수..."
18,19,RANK_MEAN,건당 평균 이용금액 순위,INT,"월별 업종별 건당 평균 이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점..."
19,20,MON_UE_CNT_RAT,월요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
20,21,TUE_UE_CNT_RAT,화요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
21,22,WED_UE_CNT_RAT,수요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
22,23,THU_UE_CNT_RAT,목요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
23,24,FRI_UE_CNT_RAT,금요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
24,25,SAT_UE_CNT_RAT,토요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
25,26,SUN_UE_CNT_RAT,일요일 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
26,27,HR_5_11_UE_CNT_RAT,5시 11시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
27,28,HR_12_13_UE_CNT_RAT,12시 13시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
28,29,HR_14_17_UE_CNT_RAT,14시 17시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
29,30,HR_18_22_UE_CNT_RAT,18시 22시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
30,31,HR_23_4_UE_CNT_RAT,23시 4시 이용 건수 비중,FLOAT,음수값은 이상치로 판단하여 최빈값 대체
31,32,LOCAL_UE_CNT_RAT,현지인 이용 건수 비중,FLOAT,고객 자택 주소가 제주도인 경우를 현지인으로 정의
32,33,RC_M12_MAL_CUS_CNT_RAT,최근 12개월 남성 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
33,34,RC_M12_FME_CUS_CNT_RAT,최근 12개월 여성 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
34,35,RC_M12_AGE_UND_20_CUS_CNT_RAT,최근 12개월 20대 이하 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
35,36,RC_M12_AGE_30_CUS_CNT_RAT,최근 12개월 30대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
36,37,RC_M12_AGE_40_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
37,38,RC_M12_AGE_50_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값
38,39,RC_M12_AGE_OVR_60_CUS_CNT_RAT,최근 12개월 60대 이상 회원수 비중,FLOAT,기준연월 포함 최근 12개월 집계한 값

<hr>

## 01. 전처리 완료 데이터 컬럼 수정 
- 전처리 완료 데이터의 shape(67857, 42)과 메타 데이터의 shape(39, 5)이 맞지 않음
- -> `UE_CNT_GRP`(이용건수구간), `UE_AMT_GRP`(이용금액구간), `UE_AMT_PER_TRSN_GRP`(건당평균이용금액구간) 이 세 개의 칼럼이 meta data에 없는 것을 확인
- -> `RANK_CNT`, `RANK_AMT`, `RANK_MEAN` 칼럼으로 대체했으므로 위 세 개의 행 삭제

<br>

- `YM`에서 월 데이터로 변경
- `개설일자`와 `polygon`, `TYPE`, `위/경도` 칼럼 삭제

In [31]:
col_to_drop = ['UE_CNT_GRP', 'UE_AMT_GRP', 'UE_AMT_PER_TRSN_GRP', 'OP_YMD', 'Polygon', 'TYPE', 'latitude', 'longitude']
df_col_34 = df.drop(columns=col_to_drop)
df_col_34.shape         # (67857, 34)

(67857, 34)

In [32]:
# YM에서 -월로 수정
def convert_ym_to_month(ym):
    month_mapping = {
        '202301': '1월', '202302': '2월', '202303': '3월', '202304': '4월',
        '202305': '5월', '202306': '6월', '202307': '7월', '202308': '8월',
        '202309': '9월', '202310': '10월', '202311': '11월', '202312': '12월'
    }
    return month_mapping.get(str(ym), ym)  # 매핑되지 않는 값은 그대로 반환

df_col_34['YM'] = df_col_34['YM'].apply(convert_ym_to_month)

df_col_34.head(3)

,YM,MCT_NM,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,TEMP_AVG,area,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,1월,희야네식당,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,7.851544,남부,...,0.000000,0.0,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,1월,희신이네,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,7.851544,남부,...,0.264706,0.0,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,1월,흥미,가정식,6.233641,8.633871,8.46129,6.666452,5.849189,7.168889,북부,...,0.094340,0.0,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032

<hr>

## 02. 메타 데이터 수정 
- 전처리 완료 데이터의 shape(67857, 42)과 메타 데이터의 shape(39, 5)이 맞지 않음
- -> `UE_CNT_GRP`(이용건수구간), `UE_AMT_GRP`(이용금액구간), `UE_AMT_PER_TRSN_GRP`(건당평균이용금액구간) 이 세 개의 칼럼이 meta data에 없는 것을 확인

- `YM`, `MCT_TYPE`, `RANK_CNT`, `RANK_AMT`, `RANK_MEAN`, `Polygon`, `area`에 대한 칼럼 설명이 부족하다고 판단
- -> 아래 정보를 더 추가할 것임
  - 1	YM	기준연월	202301~202312 >> 월로 변경
  - 4	MCT_TYPE	업종	요식관련 30개 업종
  - 6	RANK_CNT	이용건수구간	월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용건수가 포함되는 분위수 구간 * 1-상위10%이하 2-상위10~25% 3-상위25~50% 4-상위50~75% 5-상위75~90% 6-상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임
  - 7	RANK_AMT	이용금액구간	월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 이용금액이 포함되는 분위수 구간 * 1-상위10%이하 2-상위10~25% 3-상위25~50% 4-상위50~75% 5-상위75~90% 6-상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임
  - 8	RANK_MEAN	건당평균이용금액구간	STRING	N	월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시, 해당 가맹점의 건당평균이용금액이 포함되는 분위수 구간 * 1-상위10%이하 2-상위10~25% 3-상위25~50% 4-상위50~75% 5-상위75~90% 6-상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임
  - 15	area	지역	지역-텍스트 자료형(10개로 구분: 동부 서부 남부 북부 산지 가파도 마라도 비양도 우도 추자도)

<br>

- 전처리 완료 데이터와 칼럼 수를 맞추기 위해 `['OP_YMD', 'Polygon', 'TYPE', 위/경도]` 삭제

In [55]:
row_to_drop = ['OP_YMD', 'Polygon', 'TYPE', 'latitude', 'longitude']
df_meta_drop = df_meta[~df_meta['컬럼ID'].isin(row_to_drop)]
df_meta_drop.shape         # (34, 5)

(34, 5)

In [56]:
# 변경할 [설명] 값을 변수에 저장
metadata_explanation = {
    'YM': '2023년 1월~12월',
    'MCT_TYPE': '요식관련 30개 업종으로 구분',
    'RANK_CNT': '월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용건수가 포함되는 분위수 구간 * 1:상위10%이하 2:상위10~25% 3:상위25~50% 4:상위50~75% 5:상위75~90% 6:상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임',
    'RANK_AMT': '월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용금액이 포함되는 분위수 구간 * 1:상위10%이하 2:상위10~25% 3:상위25~50% 4:상위50~75% 5:상위75~90% 6:상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임',
    'RANK_MEAN': '월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 건당평균이용금액이 포함되는 분위수 구간 * 1:상위10%이하 2:상위10~25% 3:상위25~50% 4:상위50~75% 5:상위75~90% 6:상위90% 초과(하위10%이하) * 상위 30% 매출 가맹점 내 분위수 구간임',
    'area': '제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/우도/추자도'
}

In [57]:
# df_meta에 설명 업데이트
df_meta_drop.loc[:, '설명'] = (
    df_meta_drop['컬럼ID'].map(metadata_explanation).fillna(df_meta_drop['설명'])
)
df_meta_drop.head()

   No        컬럼ID            컬럼명      타입                   설명
0   1          YM           기준연월  STRING         2023년 1월~12월
1   2      MCT_NM           가맹점명  STRING                 가맹점명
4   5    MCT_TYPE             업종  STRING     요식관련 30개 업종으로 구분
5   6  temp_05_11   5시 11시 평균 기온   FLOAT  기상청 데이터 활용하여 평균값 계산
6   7  temp_12_13  12시 13시 평균 기온   FLOAT  기상청 데이터 활용하여 평균값 계산

In [66]:
# ['No', '타입'] 칼럼 삭제
df_meta_34 = df_meta_drop.drop(columns=['No', '타입'])
df_meta_34

,컬럼ID,컬럼명,설명
0,YM,기준연월,2023년 1월~12월
1,MCT_NM,가맹점명,가맹점명
4,MCT_TYPE,업종,요식관련 30개 업종으로 구분
5,temp_05_11,5시 11시 평균 기온,기상청 데이터 활용하여 평균값 계산
6,temp_12_13,12시 13시 평균 기온,기상청 데이터 활용하여 평균값 계산
7,temp_14_17,14시 17시 평균 기온,기상청 데이터 활용하여 평균값 계산
8,temp_18_22,18시 22시 평균 기온,기상청 데이터 활용하여 평균값 계산
9,temp_23_04,23시 4시 평균 기온,기상청 데이터 활용하여 평균값 계산
10,TEMP_AVG,월 평균 기온,기상청 데이터 활용하여 평균값 계산
14,area,지역,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...
15,ADDR,주소,가맹점 주소
16,RANK_CNT,월별 업종별 이용건수 순위,월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용건수가...
17,RANK_AMT,월별 업종별 이용금액 순위,월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용금액이...
18,RANK_MEAN,건당 평균 이용금액 순위,월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 건...
19,MON_UE_CNT_RAT,월요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
20,TUE_UE_CNT_RAT,화요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
21,WED_UE_CNT_RAT,수요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
22,THU_UE_CNT_RAT,목요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
23,FRI_UE_CNT_RAT,금요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
24,SAT_UE_CNT_RAT,토요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
25,SUN_UE_CNT_RAT,일요일 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
26,HR_5_11_UE_CNT_RAT,5시 11시 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
27,HR_12_13_UE_CNT_RAT,12시 13시 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
28,HR_14_17_UE_CNT_RAT,14시 17시 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
29,HR_18_22_UE_CNT_RAT,18시 22시 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
30,HR_23_4_UE_CNT_RAT,23시 4시 이용 건수 비중,음수값은 이상치로 판단하여 최빈값 대체
31,LOCAL_UE_CNT_RAT,현지인 이용 건수 비중,고객 자택 주소가 제주도인 경우를 현지인으로 정의
32,RC_M12_MAL_CUS_CNT_RAT,최근 12개월 남성 회원수 비중,기준연월 포함 최근 12개월 집계한 값
33,RC_M12_FME_CUS_CNT_RAT,최근 12개월 여성 회원수 비중,기준연월 포함 최근 12개월 집계한 값
34,RC_M12_AGE_UND_20_CUS_CNT_RAT,최근 12개월 20대 이하 회원수 비중,기준연월 포함 최근 12개월 집계한 값
35,RC_M12_AGE_30_CUS_CNT_RAT,최근 12개월 30대 회원수 비중,기준연월 포함 최근 12개월 집계한 값
36,RC_M12_AGE_40_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,기준연월 포함 최근 12개월 집계한 값
37,RC_M12_AGE_50_CUS_CNT_RAT,최근 12개월 40대 회원수 비중,기준연월 포함 최근 12개월 집계한 값
38,RC_M12_AGE_OVR_60_CUS_CNT_RAT,최근 12개월 60대 이상 회원수 비중,기준연월 포함 최근 12개월 집계한 값

<hr>

## 추가) [컬럼명]을 모든 데이터의 컬럼명으로 사용

In [67]:
# 변경할 [설명] 값을 변수에 저장
metadata_namechange = {
    'YM': '기준년월',
    'MCT_NM':'가맹점명',
    'MCT_TYPE':'업종',
    'temp_05_11': '5시_11시_평균기온',
    'temp_12_13': '12시_13시_평균기온',
    'temp_14_17': '14시_17시_평균기온',
    'temp_18_22': '18시_22시_평균기온',
    'temp_23_04': '23시_4시_평균기온',
    'TEMP_AVG':'월_평균기온',
    'area':'지역',
    'ADDR':'주소',
    'RANK_CNT':'월별_업종별_이용건수_순위',
    'RANK_AMT':'월별_업종별_이용금액_순위',
    'RANK_MEAN':'건당_평균_이용금액_순위',
    'MON_UE_CNT_RAT':'월요일_이용_건수_비중',
    'TUE_UE_CNT_RAT':'화요일_이용_건수_비중',
    'WED_UE_CNT_RAT':'수요일_이용_건수_비중',
    'THU_UE_CNT_RAT':'목요일_이용_건수_비중',
    'FRI_UE_CNT_RAT':'금요일_이용_건수_비중',
    'SAT_UE_CNT_RAT':'토요일_이용_건수_비중',
    'SUN_UE_CNT_RAT':'일요일_이용_건수_비중',
    'HR_5_11_UE_CNT_RAT':'5시_11시_이용_건수_비중',
    'HR_12_13_UE_CNT_RAT':'12시_13시_이용_건수_비중',
    'HR_14_17_UE_CNT_RAT':'14시_17시_이용_건수_비중',
    'HR_18_22_UE_CNT_RAT':'18시_22시_이용_건수_비중',
    'HR_23_4_UE_CNT_RAT':'23시_4시_이용_건수_비중',
    'LOCAL_UE_CNT_RAT':'현지인_이용_건수_비중',
    'RC_M12_MAL_CUS_CNT_RAT':'남성_회원수_비중',
    'RC_M12_FME_CUS_CNT_RAT':'여성_회원수_비중',
    'RC_M12_AGE_UND_20_CUS_CNT_RAT':'20대_이하_회원수_비중',
    'RC_M12_AGE_30_CUS_CNT_RAT':'30대_회원수_비중',
    'RC_M12_AGE_40_CUS_CNT_RAT':'40대_회원수_비중',
    'RC_M12_AGE_50_CUS_CNT_RAT':'50대_회원수_비중',
    'RC_M12_AGE_OVR_60_CUS_CNT_RAT':'60대_이상_회원수_비중'
}

In [68]:
# df_col_34_sorted 데이터 칼럼 변경
df_col_34_rename = df_col_34.rename(columns=metadata_namechange)
df_col_34_rename.head(3)

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,1월,희야네식당,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,7.851544,남부,...,0.000000,0.0,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,1월,희신이네,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,7.851544,남부,...,0.264706,0.0,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,1월,흥미,가정식,6.233641,8.633871,8.46129,6.666452,5.849189,7.168889,북부,...,0.094340,0.0,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032

<hr>

## 03. 데이터셋 정렬

In [69]:
df_col_34_sorted = df_col_34_rename.sort_values(by=['지역', '업종', '기준년월']).reset_index(drop=True)
df_col_34_sorted

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,10월,가파도용궁정식,가정식,21.706452,21.534677,19.741290,19.097849,19.574194,20.330892,가파도,...,0.083333,0.0,0.161473,0.535,0.465,0.050,0.168,0.198,0.383,0.201
1,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.000000,0.0,0.071511,0.473,0.527,0.118,0.180,0.217,0.271,0.214
2,3월,꼬닥꼬닥걸으멍,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.000000,0.0,0.057405,0.387,0.613,0.068,0.172,0.254,0.319,0.186
3,3월,가파도용궁정식,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.031746,0.0,0.135725,0.467,0.533,0.075,0.155,0.225,0.327,0.218
4,4월,꼬닥꼬닥걸으멍,가정식,16.941667,16.819167,15.181333,14.276667,15.133810,15.670529,가파도,...,0.000000,0.0,0.055281,0.388,0.612,0.065,0.158,0.256,0.324,0.197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67852,8월,추자바다숯불갈비,단품요리 전문,29.071186,28.674167,26.944000,26.096111,27.096154,27.576324,추자도,...,0.458333,0.0,0.724138,0.688,0.313,0.000,0.125,0.469,0.219,0.188
67853,9월,바다감성찜닭이야기,단품요리 전문,26.710000,26.533333,24.760000,24.071508,24.972857,25.409540,추자도,...,0.437500,0.0,0.275000,0.611,0.389,0.028,0.139,0.250,0.319,0.264
67854,10월,김밥옆구리,분식,21.953226,20.786290,18.422581,17.878495,19.183410,19.644800,추자도,...,0.074074,0.0,0.318966,0.728,0.272,0.056,0.112,0.291,0.299,0.243
67855,5월,김밥옆구리,분식,18.317742,18.221774,16.667097,15.982258,16.699539,17.177682,추자도,...,0.171429,0.0,0.354086,0.696,0.304,0.044,0.142,0.328,0.311,0.176
67856,7월,김밥옆구리,분식,25.961290,25.745528,24.863226,24.642473,24.869585,25.216421,추자도,...,0.188679,0.0,0.350000,0.692,0.308,0.052,0.135,0.318,0.298,0.197

In [70]:
# 데이터만 저장
df_col_34_sorted.to_csv("../data/data_ALL_without_metadata.csv", encoding='cp949')

In [71]:
# 메타데이터 행 명 변경
df_meta_34.loc[:, '컬럼명'] = (
    df_meta_34['컬럼명'].map(metadata_namechange).fillna(df_meta_34['컬럼명'])
)
df_meta_34.head()

         컬럼ID            컬럼명                   설명
0          YM           기준연월         2023년 1월~12월
1      MCT_NM           가맹점명                 가맹점명
4    MCT_TYPE             업종     요식관련 30개 업종으로 구분
5  temp_05_11   5시 11시 평균 기온  기상청 데이터 활용하여 평균값 계산
6  temp_12_13  12시 13시 평균 기온  기상청 데이터 활용하여 평균값 계산

In [72]:
# 컬럼ID drop
df_meta_34_namechange = df_meta_34.drop(columns=['컬럼ID'])
df_meta_34_namechange

                      컬럼명                                                 설명
0                    기준연월                                       2023년 1월~12월
1                    가맹점명                                               가맹점명
4                      업종                                   요식관련 30개 업종으로 구분
5            5시 11시 평균 기온                                기상청 데이터 활용하여 평균값 계산
6           12시 13시 평균 기온                                기상청 데이터 활용하여 평균값 계산
7           14시 17시 평균 기온                                기상청 데이터 활용하여 평균값 계산
8           18시 22시 평균 기온                                기상청 데이터 활용하여 평균값 계산
9            23시 4시 평균 기온                                기상청 데이터 활용하여 평균값 계산
10                월 평균 기온                                기상청 데이터 활용하여 평균값 계산
14                     지역  제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...
15                     주소                                             가맹점 주소
16         월별 업종별 이용건수 순위  월별 업종별 이용건수 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용건수가...
17         월별 업종별 이용금액 순위  월별 업종별 이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 이용금액이...
18          건당 평균 이용금액 순위  월별 업종별 건당평균이용금액 분위수 구간을 6개 구간으로 집계 시 해당 가맹점의 건...
19           월요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
20           화요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
21           수요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
22           목요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
23           금요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
24           토요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
25           일요일 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
26        5시 11시 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
27       12시 13시 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
28       14시 17시 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
29       18시 22시 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
30        23시 4시 이용 건수 비중                              음수값은 이상치로 판단하여 최빈값 대체
31           현지인 이용 건수 비중                        고객 자택 주소가 제주도인 경우를 현지인으로 정의
32      최근 12개월 남성 회원수 비중                              기준연월 포함 최근 12개월 집계한 값
33      최근 12개월 여성 회원수 비중                              기준연월 포함 최근 12개월 집계한 값
34  최근 12개월 20대 이하 회원수 비중                              기준연월 포함 최근 12개월 집계한 값
35     최근 12개월 30대 회원수 비중                              기준연월 포함 최근 12개월 집계한 값
36     최근 12개월 40대 회원수 비중                              기준연월 포함 최근 12개월 집계한 값
37     최근 12개월 40대 회원수 비중                              기준연월 포함 최근 12개월 집계한 값
38  최근 12개월 60대 이상 회원수 비중                              기준연월 포함 최근 12개월 집계한 값

In [73]:
# 메타데이터만 저장
df_meta_34_namechange.to_csv('../data/metadata_ALL.csv', encoding='cp949')

<hr>

## 04. df_col_39와 df_meta 결합

In [74]:
# shape 다시 확인
print(df_col_34_sorted.shape)
print(df_meta_34_namechange.shape)

(67857, 34)
(34, 2)

In [78]:
# 필요한 메타데이터 행들 추출
meta_column_descriptions = df_meta_34_namechange['설명'].values

# 메타데이터를 DataFrame으로 변환
df_meta_transposed = pd.DataFrame([meta_column_descriptions],
                                  columns=df_col_34_sorted.columns)  # 맛집 데이터의 컬럼과 동일하게 맞춤
df_meta_transposed

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값

In [79]:
# 메타데이터를 맛집 데이터 위에 추가
df_combined = pd.concat([df_meta_transposed, df_col_34_sorted], ignore_index=True)
df_combined.head(10)

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값
1,10월,가파도용궁정식,가정식,21.706452,21.534677,19.74129,19.097849,19.574194,20.330892,가파도,...,0.083333,0.0,0.161473,0.535,0.465,0.05,0.168,0.198,0.383,0.201
2,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.071511,0.473,0.527,0.118,0.18,0.217,0.271,0.214
3,3월,꼬닥꼬닥걸으멍,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.057405,0.387,0.613,0.068,0.172,0.254,0.319,0.186
4,3월,가파도용궁정식,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.031746,0.0,0.135725,0.467,0.533,0.075,0.155,0.225,0.327,0.218
5,4월,꼬닥꼬닥걸으멍,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.055281,0.388,0.612,0.065,0.158,0.256,0.324,0.197
6,4월,전망대,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.07032,0.449,0.551,0.103,0.179,0.209,0.28,0.23
7,4월,가파도용궁정식,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.140351,0.0,0.14966,0.481,0.519,0.063,0.168,0.227,0.334,0.208
8,4월,가파도바다별장,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.079327,0.5,0.5,0.06,0.14,0.188,0.357,0.256
9,5월,전망대,가정식,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.0,0.0,0.072522,0.439,0.561,0.094,0.164,0.211,0.28,0.251

<hr>

## 05. 결합 완료 데이터셋 저장 + sample 데이터 만들기

In [80]:
df_combined.to_csv("../data/data_ALL_with_metadata.csv", encoding='cp949', index=False)

In [81]:
# 데이터 확인
df_test = pd.read_csv('../data/data_ALL_with_metadata.csv', encoding='cp949')
print(df_test.shape)
df_test.head(6)

(67858, 34)

C:\Users\USER\AppData\Local\Temp\ipykernel_17676\2696477810.py:2: DtypeWarning: Columns (3,4,5,6,7,8,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv('../data/data_with_meta_ALL.csv', encoding='cp949')

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값
1,10월,가파도용궁정식,가정식,21.70645161,21.53467742,19.74129032,19.09784946,19.57419355,20.33089247,가파도,...,0.08333333333,0.0,0.1614730878,0.535,0.465,0.05,0.168,0.198,0.383,0.201
2,3월,전망대,가정식,14.71612903,14.50403226,12.42322581,11.59139785,12.34193548,13.11534409,가파도,...,0.0,0.0,0.07151095732,0.473,0.527,0.118,0.18,0.217,0.271,0.214
3,3월,꼬닥꼬닥걸으멍,가정식,14.71612903,14.50403226,12.42322581,11.59139785,12.34193548,13.11534409,가파도,...,0.0,0.0,0.05740528129,0.387,0.613,0.068,0.172,0.254,0.319,0.186
4,3월,가파도용궁정식,가정식,14.71612903,14.50403226,12.42322581,11.59139785,12.34193548,13.11534409,가파도,...,0.03174603175,0.0,0.135725429,0.467,0.533,0.075,0.155,0.225,0.327,0.218
5,4월,꼬닥꼬닥걸으멍,가정식,16.94166667,16.81916667,15.18133333,14.27666667,15.13380952,15.67052857,가파도,...,0.0,0.0,0.05528134255,0.388,0.612,0.065,0.158,0.256,0.324,0.197

In [83]:
# df_col_34의 sample data 추출 (1000개)

# area와 MCT_TYPE 칼럼의 고유 값 추출
unique_areas = df_col_34_sorted['지역'].unique()
unique_mct_types = df_col_34_sorted['업종'].unique()

# 고유 값 개수
num_areas = len(unique_areas)
num_mct_types = len(unique_mct_types)

# 최소 샘플 수 계산
min_samples_per_area = 1000 // num_areas
min_samples_per_mct_type = 1000 // num_mct_types

# 샘플링
samples = []

# 각 area에 대해 샘플 추출
for area in unique_areas:
    area_samples = df_col_34_sorted[df_col_34_sorted['지역'] == area].sample(n=min_samples_per_area, replace=True)
    samples.append(area_samples)

# 각 MCT_TYPE에 대해 샘플 추출
for mct_type in unique_mct_types:
    mct_samples = df_col_34_sorted[df_col_34_sorted['업종'] == mct_type].sample(n=min_samples_per_mct_type, replace=True)
    samples.append(mct_samples)

# 모든 샘플 결합
final_samples = pd.concat(samples).drop_duplicates().sample(n=1000, replace=True)

# 결과 확인
print(final_samples.shape)  # (1000, 34) 형태 확인
final_samples

(1000, 34)

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
48010,7월,오늘와인한잔제주노형점,맥주/요리주점,27.581106,29.903226,29.922581,28.156129,26.804301,28.473469,북부,...,0.525424,0.474576,0.573071,0.558,0.442,0.238,0.284,0.266,0.173,0.039
32058,3월,신주양꼬치제주점,꼬치구이,11.432719,14.696774,14.819355,12.325806,10.459140,12.746759,북부,...,0.529412,0.441176,0.714485,0.642,0.358,0.326,0.346,0.190,0.103,0.034
47205,11월,미르오메기떡,떡/한과,13.142857,15.771667,15.541667,13.405333,12.570556,14.086416,북부,...,0.056604,0.000000,0.121466,0.436,0.564,0.174,0.224,0.212,0.251,0.139
47105,1월,본도시락제주노형점,도시락,6.233641,8.633871,8.461290,6.666452,5.849189,7.168889,북부,...,0.259259,0.000000,0.672000,0.537,0.463,0.122,0.236,0.317,0.220,0.106
47536,1월,크라운호프 도남점,맥주/요리주점,6.233641,8.633871,8.461290,6.666452,5.849189,7.168889,북부,...,0.756098,0.243902,0.871622,0.688,0.312,0.123,0.250,0.369,0.218,0.040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6047,12월,횟집바다목장,단품요리 전문,9.402857,12.151667,11.806667,9.794667,8.750276,10.381227,남부,...,0.538462,0.000000,0.219512,0.589,0.411,0.040,0.169,0.258,0.258,0.274
10417,8월,서광춘희,분식,27.674654,29.562903,29.476613,27.816774,26.953763,28.296942,남부,...,0.130435,0.000000,0.119658,0.522,0.478,0.105,0.346,0.344,0.139,0.066
17522,7월,라라라,단품요리 전문,26.261290,27.864516,27.700000,26.343226,25.529570,26.739720,동부,...,0.198556,0.000000,0.062789,0.384,0.616,0.236,0.338,0.219,0.153,0.054
12897,11월,레오네핏제리아,피자,14.056190,16.961667,16.103333,14.026667,13.446111,14.918794,남부,...,0.444444,0.000000,0.592920,0.491,0.509,0.118,0.386,0.285,0.167,0.044
16414,1월,백록집,단품요리 전문,5.202765,8.459677,8.159677,5.323226,4.372973,6.303664,동부,...,0.904255,0.010638,0.044757,0.504,0.496,0.268,0.386,0.199,0.124,0.024

In [84]:
# final_samples도 정렬
final_samples = final_samples.sort_values(by=['지역', '업종', '기준년월'])
final_samples.head()

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,10월,가파도용궁정식,가정식,21.706452,21.534677,19.741290,19.097849,19.574194,20.330892,가파도,...,0.083333,0.0,0.161473,0.535,0.465,0.050,0.168,0.198,0.383,0.201
1,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.000000,0.0,0.071511,0.473,0.527,0.118,0.180,0.217,0.271,0.214
7,4월,가파도바다별장,가정식,16.941667,16.819167,15.181333,14.276667,15.133810,15.670529,가파도,...,0.000000,0.0,0.079327,0.500,0.500,0.060,0.140,0.188,0.357,0.256
6,4월,가파도용궁정식,가정식,16.941667,16.819167,15.181333,14.276667,15.133810,15.670529,가파도,...,0.140351,0.0,0.149660,0.481,0.519,0.063,0.168,0.227,0.334,0.208
9,5월,가파도용궁정식,가정식,19.670968,19.556452,18.103871,16.971505,17.905991,18.441757,가파도,...,0.103448,0.0,0.166998,0.510,0.490,0.058,0.165,0.226,0.340,0.211

In [85]:
# sample without meta 저장
final_samples.to_csv("../data/sample_without_meta.csv", encoding='cp949', index=False)

In [87]:
# final_samples에 meta_data 추가
final_sampes_with_meta = pd.concat([df_meta_transposed, final_samples], ignore_index=True)
print(final_sampes_with_meta.shape)  # (1003, 34)
final_sampes_with_meta.head(5)

(1001, 34)

,기준년월,가맹점명,업종,5시_11시_평균기온,12시_13시_평균기온,14시_17시_평균기온,18시_22시_평균기온,23시_4시_평균기온,월_평균기온,지역,...,18시_22시_이용_건수_비중,23시_4시_이용_건수_비중,현지인_이용_건수_비중,남성_회원수_비중,여성_회원수_비중,20대_이하_회원수_비중,30대_회원수_비중,40대_회원수_비중,50대_회원수_비중,60대_이상_회원수_비중
0,2023년 1월~12월,가맹점명,요식관련 30개 업종으로 구분,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,기상청 데이터 활용하여 평균값 계산,제주도를 10개의 지역으로 구분: 동부/서부/남부/북부/산지/가파도/마라도/비양도/...,...,음수값은 이상치로 판단하여 최빈값 대체,음수값은 이상치로 판단하여 최빈값 대체,고객 자택 주소가 제주도인 경우를 현지인으로 정의,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값,기준연월 포함 최근 12개월 집계한 값
1,10월,가파도용궁정식,가정식,21.706452,21.534677,19.74129,19.097849,19.574194,20.330892,가파도,...,0.083333,0.0,0.161473,0.535,0.465,0.05,0.168,0.198,0.383,0.201
2,3월,전망대,가정식,14.716129,14.504032,12.423226,11.591398,12.341935,13.115344,가파도,...,0.0,0.0,0.071511,0.473,0.527,0.118,0.18,0.217,0.271,0.214
3,4월,가파도바다별장,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.0,0.0,0.079327,0.5,0.5,0.06,0.14,0.188,0.357,0.256
4,4월,가파도용궁정식,가정식,16.941667,16.819167,15.181333,14.276667,15.13381,15.670529,가파도,...,0.140351,0.0,0.14966,0.481,0.519,0.063,0.168,0.227,0.334,0.208

In [88]:
# 저장
final_sampes_with_meta.to_csv("../data/sample_with_meta.csv", encoding='cp949', index=False)