## 월별-시간별 기온과 매장 이용 비중 비교

<hr>

### 00. 기본 설정

In [12]:
# 데이터 분석을 위해 pandas를, 수치계산을 위해 numpy를, 시각화를 위해 seaborn을 import

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 메시지는 출력되지 않게 합니다.
import warnings
warnings.filterwarnings("ignore")

In [13]:
# 주피터 노트북에서 그래프가 보이는 설정
%matplotlib notebook

In [14]:
# 한글 font 설정

import platform
import matplotlib.font_manager as fm

#matplotlib 패키지 한글 깨짐 처리 시작
#------------------------------------------------------------------------------------
# 운영체제별 한글 폰트 설정

if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')
    
plt.rcParams['axes.unicode_minus'] = False #한글 폰트 사용시 마이너스 폰트 깨짐 해결

<hr>

### 01. 데이터 불러오기

In [15]:
df = pd.read_csv('../data/data_prep_with_avg_temp_final.csv')
df.head(3)

,YM,MCT_NM,OP_YMD,TYPE,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,희야네식당,20000916,T1,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,...,0.000000,0.0,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,202301,희신이네,20060515,T1,가정식,6.720276,9.508065,9.43871,7.305806,6.284865,...,0.264706,0.0,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,202301,흥미,20030814,T1,가정식,6.233641,8.633871,8.46129,6.666452,5.849189,...,0.094340,0.0,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032

In [16]:
# 컬럼명 확인
df.columns

Index(['YM', 'MCT_NM', 'OP_YMD', 'TYPE', 'MCT_TYPE', 'temp_05_11',
       'temp_12_13', 'temp_14_17', 'temp_18_22', 'temp_23_04', 'TEMP_AVG',
       'latitude', 'longitude', 'Polygon', 'area', 'ADDR', 'UE_CNT_GRP',
       'RANK_CNT', 'UE_AMT_GRP', 'RANK_AMT', 'UE_AMT_PER_TRSN_GRP',
       'RANK_MEAN', 'MON_UE_CNT_RAT', 'TUE_UE_CNT_RAT', 'WED_UE_CNT_RAT',
       'THU_UE_CNT_RAT', 'FRI_UE_CNT_RAT', 'SAT_UE_CNT_RAT', 'SUN_UE_CNT_RAT',
       'HR_5_11_UE_CNT_RAT', 'HR_12_13_UE_CNT_RAT', 'HR_14_17_UE_CNT_RAT',
       'HR_18_22_UE_CNT_RAT', 'HR_23_4_UE_CNT_RAT', 'LOCAL_UE_CNT_RAT',
       'RC_M12_MAL_CUS_CNT_RAT', 'RC_M12_FME_CUS_CNT_RAT',
       'RC_M12_AGE_UND_20_CUS_CNT_RAT', 'RC_M12_AGE_30_CUS_CNT_RAT',
       'RC_M12_AGE_40_CUS_CNT_RAT', 'RC_M12_AGE_50_CUS_CNT_RAT',
       'RC_M12_AGE_OVR_60_CUS_CNT_RAT'],
      dtype='object')

In [17]:
df.shape

(67857, 42)

<hr>

### 1월-12월 데이터프레임

In [31]:
df_jan = df[df['YM'] == 202301]
df_jan = df
df_jan

df_jan['area'].nunique()   # 비양도 없음

10

<hr>

### 02. 1월 데이터

In [7]:
# df_jan = df[df['YM'] == 202301]
df_jan = df
df_jan

,YM,MCT_NM,OP_YMD,TYPE,MCT_TYPE,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,희야네식당,20000916,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.000000,0.000000,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,202301,희신이네,20060515,T1,가정식,6.720276,9.508065,9.438710,7.305806,6.284865,...,0.264706,0.000000,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,202301,흥미,20030814,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.094340,0.000000,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032
3,202301,흑심가,20220401,T1,가정식,6.538710,7.964516,7.733871,6.761935,6.317838,...,0.733333,0.033333,0.123656,0.544,0.456,0.239,0.300,0.233,0.139,0.089
4,202301,흑섬,20160419,T1,가정식,6.233641,8.633871,8.461290,6.666452,5.849189,...,0.806452,0.000000,0.317136,0.585,0.415,0.175,0.278,0.283,0.206,0.059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67852,202312,한솥도시락 제주법원점,20190520,T8,도시락,9.019048,11.520000,10.990833,9.248000,8.204420,...,0.283237,0.000000,0.823671,0.510,0.490,0.192,0.213,0.338,0.223,0.033
67853,202312,한솥도시락 제주대정점,20160930,T8,도시락,9.367143,10.893333,10.532500,9.358000,8.856354,...,0.040000,0.000000,0.559322,0.659,0.341,0.167,0.227,0.273,0.197,0.136
67854,202312,포베이이도점,20130715,T9,동남아/인도음식,9.019048,11.520000,10.990833,9.248000,8.204420,...,0.245763,0.000000,0.872796,0.399,0.601,0.081,0.204,0.418,0.218,0.078
67855,202312,포베이서귀포신시가지점,20180821,T9,동남아/인도음식,9.402857,12.151667,11.806667,9.794667,8.750276,...,0.218045,0.000000,0.753606,0.479,0.521,0.089,0.258,0.398,0.175,0.080
67856,202312,제주포레스트주식회사 포메인제주노형점,20200420,T9,동남아/인도음식,9.019048,11.520000,10.990833,9.248000,8.204420,...,0.302521,0.000000,0.664452,0.391,0.609,0.131,0.251,0.366,0.182,0.070

In [8]:
df_jan['TEMP_AVG'].unique()

array([ 7.8515444 ,  7.16888853,  7.06337402,  6.30366372,  6.35512596,
        0.608851  ,  8.58062212,  8.94039589,  8.33031029,  7.64729592,
        9.84545408,  8.21786394,  7.85447449,  2.4145068 ,  9.5227315 ,
       10.33288265,  9.22591326, 11.88911674, 13.86466513, 12.74675883,
       12.74403533, 13.25893241, 11.21137327, 13.11534409,  8.34115361,
       14.30553456, 14.95217936, 15.95824762, 16.1812746 , 15.50952222,
       15.69267619, 15.67052857, 13.71741587, 10.81172857, 16.95146119,
       18.05383564, 19.53381874, 18.62236406, 19.09338402, 17.17768203,
       18.4417573 , 18.30029647, 15.05986561, 20.11798464, 21.44781429,
       23.58417335, 22.86936984, 22.75360476, 21.79508889, 18.82296984,
       21.00470118, 21.81807619, 23.52296782, 25.93473426, 26.3632765 ,
       26.73972043, 28.47346851, 25.21642059, 26.35662673, 28.17673272,
       27.65165131, 29.12419201, 28.29694163, 28.1121106 , 28.584298  ,
       27.57632361, 22.34784332, 29.6838725 , 25.23625565, 25.83775714,
       25.77817302, 26.18735556, 25.40953977, 19.9193127 , 26.3492224 ,
       26.15350719, 26.17918095, 19.40320737, 20.00503226, 20.38681106,
       19.06823656, 20.33089247, 20.799553  , 19.64480031, 13.21810753,
       20.1575023 , 13.98724762, 13.49544286, 14.08641587, 14.91879365,
       13.58163651,  7.90546984, 15.55985873, 14.53769524, 15.31093492,
        9.80146596,  9.12829505, 10.38122668,  9.79646017,  8.97903072,
        3.5710384 , 11.62760369, 10.40250845])

In [9]:
df_jan['area'].unique()   # 비양도 없음

array(['남부', '북부', '서부', '동부', '추자도', '산지', '마라도', '우도', '가파도', '비양도'],
      dtype=object)

<hr>

### 02-1. 지역별 월평균/시간대평균 기온과 MCT_TYPE별 순위

- `RANK_CNT`: 월별_업종별_이용건수_순위 분위수 구간
- `RANK_AMT`: 월별_업종별_이용금액_순위 분위수 구간
- `RANK_MEAN`: 월별_업종별_건당_평균_이용금액_순위 분위수 구간
    - 1: 상위 10% 이하
    - 2: 상위 10~25%
    - 3: 상위 25~50%
    - 4: 상위 50~75%
    - 5: 상위 75~90%
    - 6: 상위 90% 초과 (하위 10% 이하)

In [10]:
df_jan_rank = df_jan[['MCT_TYPE','area', 'temp_05_11','temp_12_13', 'temp_14_17',
                      'temp_18_22', 'temp_23_04', 'RANK_CNT', 'RANK_AMT', 'RANK_MEAN']]
df_jan_rank

,MCT_TYPE,area,temp_05_11,temp_12_13,temp_14_17,temp_18_22,temp_23_04,RANK_CNT,RANK_AMT,RANK_MEAN
0,가정식,남부,6.720276,9.508065,9.438710,7.305806,6.284865,3,4,4
1,가정식,남부,6.720276,9.508065,9.438710,7.305806,6.284865,3,4,4
2,가정식,북부,6.233641,8.633871,8.461290,6.666452,5.849189,4,4,4
3,가정식,서부,6.538710,7.964516,7.733871,6.761935,6.317838,5,3,2
4,가정식,북부,6.233641,8.633871,8.461290,6.666452,5.849189,5,3,2
...,...,...,...,...,...,...,...,...,...,...
67852,도시락,북부,9.019048,11.520000,10.990833,9.248000,8.204420,2,4,6
67853,도시락,서부,9.367143,10.893333,10.532500,9.358000,8.856354,5,4,2
67854,동남아/인도음식,북부,9.019048,11.520000,10.990833,9.248000,8.204420,3,3,4
67855,동남아/인도음식,남부,9.402857,12.151667,11.806667,9.794667,8.750276,2,3,4
67856,동남아/인도음식,북부,9.019048,11.520000,10.990833,9.248000,8.204420,3,3,4

In [11]:
# MCT_TYPE & area 별 그룹화하여 상관계수 계산
grouped_corrs = {}

for mct_type, group in df_jan_rank.groupby('MCT_TYPE'):
    # 시간대별 기온 열 선택
    temp_cols = ['temp_05_11', 'temp_12_13', 'temp_14_17', 'temp_18_22', 'temp_23_04']
    rank_cols = ['RANK_CNT', 'RANK_AMT', 'RANK_MEAN']
    
    # Spearman 상관계수 계산
    corr_matrix = group[temp_cols + rank_cols].corr(method='spearman')
    
    # 기온과 순위 열 간의 상관관계만 선택
    temp_rank_corr = corr_matrix.loc[temp_cols, rank_cols]
    
    # 결과 저장
    grouped_corrs[mct_type] = temp_rank_corr

In [12]:
# 결과 출력
for mct_type, corr in grouped_corrs.items():
    print(f"=== MCT_TYPE: {mct_type} ===")
    print(corr)
    print("\n")

=== MCT_TYPE: 가정식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.003531 -0.004937  -0.004535
temp_12_13 -0.000383 -0.002825  -0.005203
temp_14_17 -0.000447 -0.002737  -0.005242
temp_18_22 -0.001820 -0.003323  -0.005599
temp_23_04 -0.004260 -0.005604  -0.004652


=== MCT_TYPE: 구내식당/푸드코트 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.007314 -0.012597   0.035438
temp_12_13  0.009625  0.016305   0.057481
temp_14_17  0.008504  0.017230   0.059610
temp_18_22  0.001575  0.001480   0.042486
temp_23_04 -0.014195 -0.026045   0.025164


=== MCT_TYPE: 기사식당 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.057670 -0.303280  -0.279975
temp_12_13 -0.014417 -0.305096  -0.337406
temp_14_17 -0.014417 -0.305096  -0.337406
temp_18_22 -0.057670 -0.315387  -0.294333
temp_23_04 -0.043252 -0.284514  -0.251259


=== MCT_TYPE: 기타세계요리 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.277074 -0.127853   0.271826
temp_12_13 -0.274149 -0.127917   0.266095
temp_14_17 -0.274149 -0.127917   0.266095
temp_18_22 -0.268267 -0.147528   0.247032
temp_23_04 -0.277074 -0.127853   0.271826


=== MCT_TYPE: 꼬치구이 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.087810  0.091301  -0.044339
temp_12_13  0.080117  0.086108  -0.040576
temp_14_17  0.080176  0.084540  -0.041988
temp_18_22  0.087663  0.092660  -0.047269
temp_23_04  0.088845  0.090372  -0.046543


=== MCT_TYPE: 단품요리 전문 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.007842  0.019428  -0.000467
temp_12_13  0.013346  0.019927  -0.005914
temp_14_17  0.013803  0.019107  -0.007297
temp_18_22  0.010496  0.017975  -0.004523
temp_23_04  0.006307  0.018254   0.000240


=== MCT_TYPE: 도너츠 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.055269 -0.093539  -0.135780
temp_12_13 -0.027956 -0.023069  -0.144009
temp_14_17 -0.025509 -0.014747  -0.144009
temp_18_22 -0.036202 -0.064150  -0.152238
temp_23_04 -0.082581 -0.137780  -0.135780


=== MCT_TYPE: 도시락 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.149872 -0.267636   0.025255
temp_12_13 -0.182108 -0.274538   0.052201
temp_14_17 -0.186090 -0.271020   0.057231
temp_18_22 -0.175047 -0.269828   0.040809
temp_23_04 -0.136255 -0.262521   0.014167


=== MCT_TYPE: 동남아/인도음식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.211734  0.247187  -0.045372
temp_12_13  0.213015  0.244505  -0.050291
temp_14_17  0.213015  0.244505  -0.050291
temp_18_22  0.221393  0.250113  -0.060129
temp_23_04  0.211734  0.247187  -0.045372


=== MCT_TYPE: 떡/한과 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.142298  0.149649   0.050786
temp_12_13  0.140341  0.139944   0.045262
temp_14_17  0.140341  0.139944   0.045262
temp_18_22  0.138056  0.145463   0.056557
temp_23_04  0.142298  0.149649   0.050786


=== MCT_TYPE: 맥주/요리주점 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.024528 -0.018394   0.021911
temp_12_13 -0.027305 -0.021462   0.021872
temp_14_17 -0.027218 -0.021047   0.021725
temp_18_22 -0.024841 -0.015999   0.023490
temp_23_04 -0.021839 -0.017197   0.020404


=== MCT_TYPE: 민속주점 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11   0.13484  0.198762        0.0
temp_12_13   0.06742  0.163087       -0.1
temp_14_17   0.06742  0.163087       -0.1
temp_18_22   0.06742  0.163087       -0.1
temp_23_04   0.13484  0.198762        0.0


=== MCT_TYPE: 베이커리 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.046216  0.062160   0.024270
temp_12_13  0.048032  0.065125   0.026711
temp_14_17  0.049222  0.066297   0.028942
temp_18_22  0.046812  0.063410   0.029420
temp_23_04  0.045949  0.060912   0.022172


=== MCT_TYPE: 부페 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.054389  0.237484  -0.139627
temp_12_13  0.040156  0.237484  -0.139627
temp_14_17  0.040156  0.237484  -0.139627
temp_18_22  0.082854  0.263871  -0.099734
temp_23_04  0.054389  0.237484  -0.139627


=== MCT_TYPE: 분식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.004977 -0.003756  -0.038185
temp_12_13 -0.006776 -0.005462  -0.021191
temp_14_17 -0.013381 -0.009012  -0.015533
temp_18_22 -0.006261 -0.007826  -0.024361
temp_23_04  0.004984 -0.004602  -0.040613


=== MCT_TYPE: 샌드위치/토스트 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.063131 -0.024809  -0.034564
temp_12_13 -0.088301 -0.046950  -0.013824
temp_14_17 -0.089515 -0.048007  -0.014297
temp_18_22 -0.071178 -0.027526  -0.020726
temp_23_04 -0.061500 -0.021965  -0.035799


=== MCT_TYPE: 스테이크 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.075671  0.052136   0.173319
temp_12_13 -0.118373  0.011517   0.165488
temp_14_17 -0.125124  0.000311   0.165488
temp_18_22 -0.097022  0.014474   0.143147
temp_23_04 -0.054320  0.059140   0.146601


=== MCT_TYPE: 아이스크림/빙수 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.211260 -0.281024  -0.054737
temp_12_13 -0.212900 -0.269499  -0.051493
temp_14_17 -0.215070 -0.273476  -0.050515
temp_18_22 -0.222080 -0.287682  -0.050744
temp_23_04 -0.215061 -0.288398  -0.057200


=== MCT_TYPE: 야식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.253743 -0.336612        NaN
temp_12_13 -0.253743 -0.336612        NaN
temp_14_17 -0.253743 -0.336612        NaN
temp_18_22 -0.253743 -0.336612        NaN
temp_23_04 -0.253743 -0.336612        NaN


=== MCT_TYPE: 양식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.011035  0.034440   0.008682
temp_12_13  0.019865  0.038188   0.004396
temp_14_17  0.020519  0.037967   0.003171
temp_18_22  0.011163  0.027904   0.007696
temp_23_04  0.010600  0.030655   0.005604


=== MCT_TYPE: 일식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.033626  0.078683   0.028500
temp_12_13  0.032924  0.076019   0.027692
temp_14_17  0.033906  0.076258   0.026718
temp_18_22  0.034736  0.076291   0.024388
temp_23_04  0.035913  0.078867   0.026226


=== MCT_TYPE: 주스 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.259210 -0.249676  -0.015617
temp_12_13 -0.239340 -0.248922  -0.028479
temp_14_17 -0.261192 -0.271099  -0.046852
temp_18_22 -0.274252 -0.283319  -0.051446
temp_23_04 -0.291473 -0.289168  -0.046852


=== MCT_TYPE: 중식 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.056542  0.035517  -0.000006
temp_12_13  0.057222  0.034304  -0.002164
temp_14_17  0.057019  0.033018  -0.003055
temp_18_22  0.053108  0.031408  -0.000907
temp_23_04  0.056893  0.033564  -0.001337


=== MCT_TYPE: 차 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.033768  0.066779   0.099493
temp_12_13  0.048549  0.090674   0.127618
temp_14_17  0.051166  0.092518   0.128672
temp_18_22  0.029098  0.064124   0.117197
temp_23_04  0.025147  0.058175   0.091891


=== MCT_TYPE: 치킨 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.010491 -0.064177  -0.082099
temp_12_13  0.013176 -0.061669  -0.079916
temp_14_17  0.011497 -0.064164  -0.081048
temp_18_22  0.009065 -0.065487  -0.080106
temp_23_04  0.008909 -0.066160  -0.084758


=== MCT_TYPE: 커피 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.044655 -0.072212   0.023842
temp_12_13 -0.048288 -0.070756   0.032543
temp_14_17 -0.051634 -0.072441   0.036078
temp_18_22 -0.050023 -0.072910   0.031246
temp_23_04 -0.046094 -0.073619   0.023949


=== MCT_TYPE: 패밀리 레스토랑 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.158085  0.201893   0.181748
temp_12_13  0.158085  0.201893   0.181748
temp_14_17  0.158085  0.201893   0.181748
temp_18_22  0.176413  0.196069   0.181748
temp_23_04  0.158085  0.201893   0.181748


=== MCT_TYPE: 포장마차 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11 -0.049357 -0.062396   0.182507
temp_12_13 -0.040230 -0.051201   0.176848
temp_14_17 -0.057043 -0.075384   0.179482
temp_18_22 -0.065449 -0.089874   0.181629
temp_23_04 -0.071165 -0.086579   0.188703


=== MCT_TYPE: 피자 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.072148  0.029934  -0.027266
temp_12_13  0.076565  0.036649  -0.021702
temp_14_17  0.074993  0.035644  -0.021242
temp_18_22  0.073096  0.033205  -0.020658
temp_23_04  0.063179  0.024128  -0.027169


=== MCT_TYPE: 햄버거 ===
            RANK_CNT  RANK_AMT  RANK_MEAN
temp_05_11  0.061020  0.043865  -0.031792
temp_12_13  0.040710  0.036722   0.003191
temp_14_17  0.036224  0.028812   0.005031
temp_18_22  0.043010  0.023211  -0.015825
temp_23_04  0.062751  0.036125  -0.042606

In [41]:
df_jan_rank[df_jan_rank['MCT_TYPE'] == '주스'][['RANK_CNT']]

      RANK_CNT
2853         3
2854         2
2855         2
2856         3
2857         3
2858         4
5789         4